body {
  background-image: url("../assets/Stars.gif");
  margin: 0;
  padding: 0;
}

.App {
  padding: 10px;

  @media (min-width: 767px) {
    padding: 0;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 767px) {
    padding-top: 0;
    height: auto;
  }
}
